---
import { AppSidebar } from '@/components/AppSidebar';
import '@/styles/globals.css';

const pathname = new URL(Astro.request.url).pathname;
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <AppSidebar pathname={pathname} client:load>
      <main class="py-3 px-4 flex-1">
        <h1 class="mb-4 text-xl font-semibold">{title}</h1>

        <slot />
      </main>
    </AppSidebar>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
